* {
  box-sizing: border-box;
  // outline: 0;
  margin: 0;
  padding: 0;
}

*:focus {
  // outline: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #131313;
  background: linear-gradient(186deg, #131313 0%, #060606 100%);
}

body,
input,
button {
  font-family: 'Roboto', sans-serif !important;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

app-root {
  display: flex;
}

