<section class="movies-search">
  <h2>Movies App</h2>

  <span
    >Search movies by name or select a category</span
  >
  <input
    type="text"
    placeholder="Procure por filmes"
    (keypress)="searchMovie($event)"
  />

  <ul class="genres-list">
    <li
      *ngFor="let genre of genres"
      (click)="searchByGenre(genre.id)"
      [ngClass]="{ activeGenre: activeGenre === genre.id }"
    >
      {{ genre?.name }}
    </li>
  </ul>
</section>

<section class="movies-featured" *ngIf="!(isLoading$ | async)">
  <div class="movies-featured__title">
    <img src="assets/img/movie.svg" alt="" />
    <h3>Movies</h3>
  </div>
  <app-movie-card-list @listState *ngIf="movies$">
    <app-movie-card
      *ngFor="let movie of movies$ | async"
      [movie]="movie"
      (click)="showMovieDetails(movie?.id)"
    ></app-movie-card>
  </app-movie-card-list>

  <mat-paginator
    [length]="listLength"
    [pageSize]="20"
    aria-label="Select page"
    (page)="handlePaginationChange($event)"
    [pageIndex]="pageIndex - 1"
    *ngIf="!activeGenre && !searchValue"
  >
  </mat-paginator>

  <div class="no-results" *ngIf="!movies$">
    Nenhum filme encontrado para a busca '{{ searchValue }}'
  </div>
</section>

<div class="loader" *ngIf="isLoading$ | async">
  <mat-spinner></mat-spinner>
</div>
